.admin{
  & .homepage_dashboard_body_content_card{
        text-decoration: none;
        width: 22%;
        border-radius: 7px;
        margin: 1rem 1rem;
        color: inherit;
      
  }  
  & .homepage_dashboard_body_content_card_span {
    position: absolute;
    left: 8rem;
    top: 27%;
}
& .homepage_dashboard_body_content_card_span_details{
    position: absolute;
    left: 8rem;
    bottom: 2.2rem;
}
& .homepage_dashboard_body_content_card_span_icon {
    right: unset;
    top:20%;
    background:none;
    border: none;
    &_img{
        float: none;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        top: 16%;
        height: 3.2rem;
    }
}
& .homepage_dashboard_body{
    width: 84vw;
}


}