@font-face {
    font-family: "Merrant-Regular";
    src: url("./assets/fonts/Merrant-Regular.otf");
}
@font-face {
    font-family: "Merrant-Lithe";
    src: url("./assets/fonts/Merrant-Lithe.otf");
}
@font-face {
font-family: "Merrant-Bold";
src: url("./assets/fonts/Merrant-Bold.otf");
}
body, span, p, div, h1, *{
    font-family: Merrant-Lithe;
}
html{
    font-size: 62.5%;
}